<h1>Show Post</h1>

<ul>

  <li>
    <strong>User:</strong>
    <%= @post.user_id %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>Created at:</strong>
    <%= @post.created_at %>
  </li>

  <li>
    <strong>Update at:</strong>
    <%= @post.update_at %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span> |
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
